<html>

<head>
    {{ content_for_header }}
    <link type="text/css" href="{{ 'style.scss.css' | asset_url }}" rel="stylesheet">
</head>

<body>
    {% section 'header' %}
    <main>
        {{ content_for_layout }}
    </main>
    {% section 'footer' %}
</body>

</html>